#Custom
/logo
/ruecksendeformular
/download
/dev
/shopware
.env
.htaccess
.htpasswd
/old.*
/shopware_clone*
*.sql
/data

#Theme
/themes/grunt-task
/themes/.eslintignore
/themes/.eslint
/themes/.eslintrc.js
/themes/.eeslintrc.js
rc.js
/themes/Gruntfile.js
/themes/package.json

#Plugins
/custom/plugins/*
!/custom/plugins/Ws*

#Shopware Default
/app/
/bin/
/engine/
/download/
/recovery/
/Plugins/
/custom/project
/media/
/tests/
/files/
/var/
/web/
/vendor/

autoload.php
app/config/config.php
config.php
/config_*.php
composer.lock
license.txt
shopware.php
README.md
CHANGELOG.md
custom/plugins/.gitkeep

/.idea/
/composer.phar

.php_cs.cache

/snippetsExport/

!**/.gitkeep
.DS_Store
engine/Library/CodeMirror
engine/Library/ExtJs
engine/Library/TinyMce
media
themes/Frontend/Bare
themes/Frontend/Responsive
themes/Backend/ExtJs
themes/Backend/grunt-tasks
themes/grunt-tasks
